// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.deletecategory:hover{
    cursor: pointer;
    
}
.editcategory:hover{
    cursor: pointer;
    
}
#description{
    resize: none;
}